<head>


    <link rel="stylesheet" href="cadastro.component.css"/>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <title>Cadastre-se!</title>
  </head>
  <body>
    <style>
      body{

        background-image: url(assets/img/backgroundloginfade.jpg);
        background-attachment: fixed;
        background-size: 100%;
        background-repeat: no-repeat;
        height: 1000px;
      }
    </style>

      <button
        class="btn-navgation"
        type="button"
        value="Voltar"
        onClick="history.go(-1)"
      >
        <img src="assets/img/back_icon.png" width="75px" alt="" />
      </button>
      <br />
      <br />






    <div class="wrapper">
      <h2 class="wrapper-title" align="center">Cadastro Hospital</h2>
      <hr />
      <form autocomplete="on">
        <div class="form-row">

          <form (submit)="onAdicionarHospital(hospitalForm)" #hospitalForm="ngForm" *ngIf="!estaCarregando">

        <div class="form-group">
          <label for="nomeInput">Nome do Hospital</label>
          <input type="text" class="form-control" name="nome" id="nomeInput" size="1000" autocomplete="off" ngModel/>
        </div>


          <div class="form-group col-md-6">
            <label for="cnpjInput">CNPJ</label>
            <input type="text" class="form-control" name="cnpj" size="1000" id="cnpjInput" autocomplete="off" ngModel/>
          </div>



          <div class="form-group col-md-6">
            <label for="enderecoInput">Endereço</label>
            <input
              type="text"
              class="form-control"
              name="endereco"
              id="enderecoInput"
              autocomplete="off"
              ngModel
            />
          </div>



        <div class="form-group">
          <label for="cepInput">CEP</label>
          <input type="text" class="form-control" name="cep" id="cepInput" autocomplete="off" ngModel/>
        </div>





        <div class="form-group col-md-4">
          <label for="estadoInput">Estado</label>
          <select id="estadoInput" name="estado" class="form-control" autocomplete="off" ngModel>
            <option selected>Escolha um estado</option>
            <option>AC</option>
            <option>AL</option>
            <option>AP</option>
            <option>AM</option>
            <option>BA</option>
            <option>CE</option>
            <option>DF</option>
            <option>ES</option>
            <option>GO</option>
            <option>MA</option>
            <option>MT</option>
            <option>MS</option>
            <option>MG</option>
            <option>PA</option>
            <option>PB</option>
            <option>PI</option>
            <option>RJ</option>
            <option>RN</option>
            <option>RS</option>
            <option>RO</option>
            <option>RR</option>
            <option>SC</option>
            <option>SP</option>
            <option>SE</option>
            <option>TO</option>
          </select>
        </div>


        <div class="form-group">
          <label for="telefoneInput">Telefone</label>
          <input type="text" class="form-control" name="telefone" id="telefoneInput" autocomplete="off" ngModel/>
        </div>



        <div class="form-group">
          <label for="emailInput">Email</label>
          <input type="email" class="form-control" name="email" id="emailInput" autocomplete="off" ngModel/>
        </div>



        <div class="form-group">
          <label for="senhaInput">Senha</label>
          <input type="password" class="form-control" name="senha" id="senhaInput" autocomplete="off" ngModel/>
        </div>




      <p align="center">
        <a routerLink="/login">Ja possui uma conta? Clique Aqui!</a>
      </p>
      <button type="submit" class="btn btn-success btn-lg btn-block">
        Cadastrar!
      </button>

</form>
    </div>
    </form>
    </div>
  </body>

