  <head>

    <link rel="stylesheet" href="chat.component.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <title>Chat</title>
  </head>
  <body>
    <style>
      body {
        background-image: url(assets/img/backgroundloginfade.jpg);
        background-attachment: fixed;
        background-size: 100%;
        background-repeat: no-repeat;
        height: 1500px;
      }
    </style>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" routerLink="">
        <img
          src="assets/img/Icon.png"
          width="50"
          height="50"
          class="d-inline-block align-top"
          alt="Ícone"
        />
      </a>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link"
              >Chat<span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" onClick="history.go(-1)">Voltar</a>
          </li>
        </ul>
      </div>
    </nav>
    <br /><br /><br /><br />





    <div class="chat-wrapper">
      <h3 class="chat-title">Chat</h3>
      <br />

      <div class="chat-content">
      </div>




      <div class="chat-message">
        <input class="input-chat" type="text" />

        <button class="btn btn-success">Enviar</button>
      </div>





    </div>
  </body>

