<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="login-paciente.component.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <title>Login Paciente</title>
  </head>
  <body>
    <style>
      body{

        background-image: url(assets/img/backgroundloginfade.jpg);
        background-attachment: fixed;
        background-size: 100%;
        background-repeat: no-repeat;
        height: 1000px;
      }
    </style>
    <form>
        <button
          class="btn-navgation"
          type="button"
          value="Voltar"
          onClick="history.go(-1)">
          <img src="assets/img/back_icon.png" width="75px" alt="">
      </button>
      <br>
      <br>
    <div class="wrapper">
        <h2 class="wrapper-title" align="center">Faça Login!</h2>
      <hr />
      <form autocomplete="on">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCPFPaciente">Código de Login</label>
            <input type="text" class="form-control" id="inputCPFPaciente" />
          </div>

          <div class="form-group">
            <label for="inputSenhaPaciente">CPF</label>
            <input type="password" class="form-control" id="inputSenhaPaciente" />
          </div>

      <br>
      <br>
      <br>
      <br>
      <button type="submit" class="btn btn-success btn-lg btn-block">
        Entrar
      </button>
    </div>

</form>
</div>
</form>

  </body>
</html>
