<head>

    <link rel="stylesheet" href="chat.component.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <title>Painel de Controle</title>
  </head>
  <body>
    <style>
      body {
        background-image: url(assets/img/backgroundloginfade.jpg);
        background-attachment: fixed;
        background-size: 100%;
        background-repeat: no-repeat;
        height: 1500px;
      }
    </style>
       <button
       class="btn-navgation"
       type="button"
       value="Voltar"
       onClick="history.go(-1)"
     >
       <img src="assets/img/back_icon.png" width="75px" alt="" />
     </button>

     <div class="chat_window">
      <div class="top_menu">
          <div class="buttons">
              <div class="button close"></div>
              <div class="button minimize"></div>
              <div class="button maximize"></div>
          </div>
          <div class="title">Chat</div>
      </div>


      <ul id ="messages" class="messages">

        <div id="output" *ngFor="let data of output">
          <p>{{data.message}}</p>
      </div>

      </ul>




      <div class="bottom_wrapper clearfix">




          <div class="message_input_wrapper">

              <input placeholder="Digite sua mensagem!" class="message_input" type="text" id="message" autocomplete="off" [(ngModel)]="message" (keypress)="messageTyping()"/>
          </div>


          <button class="send_message" type="button" id="send" (click)="sendMessage()">Enviar</button>

      </div>
      <div id="message"></div>
  </div>
    </body>
