
  <head>

    <link rel="stylesheet" href="chat.component.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <title>Painel de Controle</title>
  </head>
  <body>
    <style>
      body {
        background-image: url(assets/img/backgroundloginfade.jpg);
        background-attachment: fixed;
        background-size: 100%;
        background-repeat: no-repeat;
        height: 1500px;
      }
    </style>
       <button
       class="btn-navgation"
       type="button"
       value="Voltar"
       onClick="history.go(-1)"
     >
       <img src="assets/img/back_icon.png" width="75px" alt="" />
     </button>



    <div class="chat-content">

      <div id="output" *ngFor="let data of output">
        <p><strong>{{data.handle}} : </strong>{{data.message}}</p>
    </div>

      <div class="chat-send">
        <input placeholder="Digite sua mensagem!" class="message" maxlength="100" type="text" id="message" autocomplete="off" [(ngModel)]="message" (keypress)="messageTyping()"/>

        <div id="feedback"><p>{{feedback}}</p>
        </div>

        <input id="handle" type="text" [(ngModel)]="userName" placeholder="Handle" />

        <button class="btn btn-success" type="button" id="send"  (click)="sendMessage()">Enviar</button>

      </div>
    </div>

  </body>
