  <head>


    <link rel="stylesheet" href="login.component.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <title>Login Corporativo</title>
  </head>

  <body>
    <style>
      body{

        background-image: url(assets/img/backgroundloginfade.jpg);
        background-attachment: fixed;
        background-size: 100%;
        background-repeat: no-repeat;
        height: 1000px;
      }
    </style>

        <button
          class="btn-navgation"
          type="button"
          value="Voltar"
          onClick="history.go(-1)">
          <img src="assets/img/back_icon.png" width="75px" alt="">
      </button>
      <br>
      <br>
    <div class="wrapper">
        <h2 class="wrapper-title" align="center">Login Corporativo</h2>
      <hr/>



      <form autocomplete="on">
        <div class="form-row">

          <a *ngIf="estaCarregando"></a>

      <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!estaCarregando">



          <div class="form-group col-md-6">
            <label for="cnpjInput">CNPJ</label>
            <input type="text" size="500" class="form-control" autocomplete="off" name="cnpj" ngModel #cnpjInput="ngModel" id="cnpjInput"/>
          </div>




          <div class="form-group">
            <label for="senhaInput">Senha</label>
            <input type="password" class="form-control" id="senhaInput" name="senha" #senhaInput="ngModel" ngModel/>
          </div>



      <p align="center">
        <a routerLink="/cadastro">Ainda não possui conta? Clique aqui</a>
      </p>
      <button type="submit" class="btn btn-success btn-lg btn-block">
        Entrar
      </button>

    </form>
    </div>
    </form>
    </div>
</body>

