<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"
  ></script>

  <link rel="stylesheet" href="home.component.css" />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />

  <title>Home</title>
</head>

    <body >
      <style>
        body{

          background-image: url(assets/img/backgroundloginfade.jpg);
          background-attachment: fixed;
          background-size: 100%;
          background-repeat: no-repeat;
          height: 1000px;
        }
      </style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="">
    <img
      src="assets/img/Icon.png"
      width="70"
      height="70"
      class="d-inline-block align-top"
      alt="Ícone"
    />
  </a>
  <a class="navbar-brand" routerLink="">Início</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/cadastro"
          >Cadastre-se! <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login Corporativo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login-paciente">Login Paciente</a>
      </li>
    </ul>
  </div>
</nav>
<br />
<br />
<br />
<br />











    </body>
    </html>
